@charset "utf-8";

@import "../../node_modules/bulma/bulma";

@keyframes fadein {
    from { opacity: 0; visibility: visible; }
    to   { opacity: 1; visibility: visible; }
}

@keyframes fadeout {
    from { opacity: 1; visibility: visible; }
    to   { opacity: 0; visibility: hidden; }
}

.fadein {
  animation: fadein 1s linear forwards;
}

.fadeout {
  animation: fadeout 1s linear forwards;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
